@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-fluid {
  max-width: 1920px; }

.container {
  max-width: 992px; }

#cant {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: #000;
  background-color: #FFD1E0;
  padding: 5px;
  bottom: -11px;
  border-radius: 999px;
  right: -8px; }

html {
  font-size: 62.5%; }

body {
  font-family: normal "Roboto", sans-serif;
  font-size: 15px; }

header {
  width: 100%;
  position: fixed;
  z-index: 3;
  display: inline-block;
  background: #e2e9f1; }
  header .top-negro {
    background-color: #3f3f3f;
    height: 40px;
    position: relative;
    z-index: 4; }
    header .top-negro .tel a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px; }
      header .top-negro .tel a .whats {
        color: #25d366;
        margin-right: 10px; }
        header .top-negro .tel a .whats:hover {
          transition: all 0.2s;
          transform: scale(1.5);
          cursor: pointer; }
      header .top-negro .tel a span {
        display: inline-block;
        font-size: 15px;
        margin-left: 10px;
        font-weight: 600;
        line-height: 38px; }
    header .top-negro .carrito .btn-carro {
      cursor: pointer;
      position: relative;
      z-index: 3;
      width: 50px;
      height: 40px;
      text-align: left;
      margin-left: 35px;
      display: block;
      float: right;
      padding: 5px 10px;
      background-color: #fcfcfc; }
      header .top-negro .carrito .btn-carro a {
        text-decoration: none;
        color: #FFD1E0; }
        header .top-negro .carrito .btn-carro a img {
          width: 100%; }
  header .logo {
    background-color: #e2e9f1;
    z-index: 3;
    width: 100%;
    height: 180px;
    padding: 0; }
    header .logo .container {
      height: 180px;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      margin: auto;
      z-index: 3; }
      header .logo .container a {
        display: block;
        margin: auto; }
        header .logo .container a img {
          height: 180px; }
  header .navbar {
    height: 40px;
    z-index: 4;
    background-color: #fff;
    position: relative;
    text-align: center;
    width: 100%; }
    header .navbar .btn-nav {
      position: relative;
      text-align: left;
      margin: 0;
      font-size: 30px;
      height: 35px; }
      header .navbar .btn-nav:focus {
        border-color: #FFD1E0; }
    header .navbar .menu-desplegable {
      margin: auto;
      padding-left: 0;
      width: 100%;
      list-style: none;
      display: block; }
      header .navbar .menu-desplegable li {
        list-style: none;
        display: inline-block; }
        header .navbar .menu-desplegable li a {
          text-decoration: none;
          display: inline-block;
          line-height: 40px;
          font-weight: 600;
          font-size: 15px;
          color: #000;
          margin: 0 1rem; }
          header .navbar .menu-desplegable li a:hover {
            color: #FFD1E0; }
        header .navbar .menu-desplegable li span {
          color: #3f3f3f;
          font-size: 15px;
          font-weight: 600;
          line-height: 40px;
          margin: 0 15px; }

main {
  margin-bottom: 20px; }
  main .imagenes {
    background-color: #FFD1E0;
    height: 505px;
    padding: 0; }
    main .imagenes .carousel-inner {
      width: 100%;
      height: 505px;
      padding: 0 15px;
      max-width: 992px; }
      main .imagenes .carousel-inner .carousel-item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        display: block; }
        main .imagenes .carousel-inner .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }
    main .imagenes .carousel-indicators {
      background-color: #fcfcfc;
      line-height: 30px;
      width: 100%;
      margin: 0;
      left: 0;
      right: 0;
      bottom: -30px; }
      main .imagenes .carousel-indicators li {
        background-color: #f84279de;
        width: 10px;
        height: 10px;
        margin: 10px;
        border: none;
        border-radius: 10px; }
  main .home {
    padding: 0;
    height: 644px;
    overflow: hidden; }
    main .home .row {
      margin: 0; }
      main .home .row .left {
        padding: 0; }
        main .home .row .left .centrar-img {
          position: relative;
          overflow: hidden;
          height: 644px; }
          main .home .row .left .centrar-img img {
            position: absolute;
            width: 100%;
            height: 100%; }
        main .home .row .left .txt {
          position: absolute;
          padding: 0;
          height: 140px;
          top: 275px;
          left: 0;
          width: 100%;
          background: #ffffff6b; }
          main .home .row .left .txt .texto {
            background-color: #fff;
            position: relative;
            float: right;
            width: 310px;
            height: 140px;
            padding: 40px 45px; }
            main .home .row .left .txt .texto h1 {
              font-weight: 700;
              font-size: 20px;
              color: #000;
              margin-top: 0; }
            main .home .row .left .txt .texto p {
              font-weight: 300;
              font-size: 15px;
              color: #000;
              margin: 0;
              line-height: 1.1; }
            main .home .row .left .txt .texto a {
              text-decoration: none;
              color: #000;
              background-color: #FFD1E0;
              font-weight: 700;
              width: 140px;
              height: 30px;
              text-align: center;
              position: absolute;
              bottom: -40px;
              display: inline-block;
              line-height: 30px; }
      main .home .row .right {
        padding: 0; }
        main .home .row .right .centrar-img {
          position: relative;
          overflow: hidden;
          height: 644px; }
          main .home .row .right .centrar-img img {
            position: absolute;
            width: 100%;
            height: 100%; }
        main .home .row .right .txt {
          position: absolute;
          padding: 0;
          height: 140px;
          top: 275px;
          left: 0;
          width: 100%;
          background: #ffffff6b; }
          main .home .row .right .txt .texto {
            background-color: #fff;
            position: relative;
            float: right;
            width: 310px;
            height: 140px;
            padding: 40px 45px;
            float: left; }
            main .home .row .right .txt .texto h1 {
              font-weight: 700;
              font-size: 20px;
              color: #000;
              margin-top: 0; }
            main .home .row .right .txt .texto p {
              font-weight: 300;
              font-size: 15px;
              color: #000;
              margin: 0;
              line-height: 1.1; }
            main .home .row .right .txt .texto a {
              text-decoration: none;
              color: #000;
              background-color: #FFD1E0;
              font-weight: 700;
              width: 140px;
              height: 30px;
              text-align: center;
              position: absolute;
              bottom: -40px;
              display: inline-block;
              line-height: 30px;
              background-color: #e2e9f1; }

.destacados {
  padding: 0; }
  .destacados hr {
    visibility: hidden; }
  .destacados h2 {
    font-size: 38px;
    color: #000;
    font-weight: 100;
    text-align: center;
    padding: 10px;
    margin: 30px auto; }
  .destacados .prod-cont .product {
    width: 100%;
    overflow: hidden;
    cursor: pointer; }
    .destacados .prod-cont .product:hover {
      transition: all 1s linear;
      transform: scale(1.1); }
    .destacados .prod-cont .product h3 {
      font-size: 15px;
      color: #000;
      font-weight: 700;
      text-align: center;
      padding: 5px;
      margin: 10px 0 0 0; }
    .destacados .prod-cont .product p {
      font-weight: 400;
      text-align: center;
      font-size: 15px;
      color: #000;
      margin: 0; }

.footer {
  background: #3f3f3f;
  height: auto;
  min-height: 280px;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  overflow: hidden; }
  .footer .informacion {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 10px auto; }
    .footer .informacion .infor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 25px;
      text-align: center;
      margin: 30px 0; }
      .footer .informacion .infor a {
        text-decoration: none;
        color: #fff; }
      .footer .informacion .infor .whats {
        color: #25d366;
        padding: 1px;
        font-size: 25px; }
        .footer .informacion .infor .whats:hover {
          cursor: pointer; }
      .footer .informacion .infor .mail {
        color: #fff;
        padding: 10px; }
        .footer .informacion .infor .mail:hover {
          cursor: pointer; }
      .footer .informacion .infor .dir {
        color: #DD4B3E;
        padding: 10px; }
        .footer .informacion .infor .dir:hover {
          cursor: pointer; }
      .footer .informacion .infor p {
        color: #fff;
        font-size: 15px;
        margin: 10px; }
  .footer hr {
    margin: 0 60px;
    visibility: visible;
    border-bottom: 1px solid #FFD1E0; }
  .footer .iconos {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    margin: 20px 0; }
    .footer .iconos .f {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0); }
      .footer .iconos .f:hover {
        transform: rotate(360deg);
        transition: all 0.3s linear;
        color: #1778f2; }
    .footer .iconos .t {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0); }
      .footer .iconos .t:hover {
        transform: rotate(360deg);
        transition: all 0.3s linear;
        color: #1da1f2; }
    .footer .iconos .i {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0); }
      .footer .iconos .i:hover {
        transform: rotate(360deg);
        transition: all 0.3s linear;
        color: #f84279de; }
  .footer .copy {
    margin: 30px 0 10px; }
    .footer .copy h6 {
      font-size: 13px;
      color: #fff;
      text-align: center; }

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  header .top-negro {
    padding: 0; }
  header .logo {
    position: relative;
    margin-top: 0;
    height: 160px; }
    header .logo .container {
      height: 160px; }
      header .logo .container a img {
        height: 150px; }
  header .menu {
    padding: 0; }
    header .menu .container {
      padding: 0; }
      header .menu .container .navbar {
        padding: 0; }
        header .menu .container .navbar .menu-desplegable li span {
          margin: 0 13px; }
  main .imagenes {
    height: 575px;
    display: inline-block;
    width: 100%; }
    main .imagenes .carousel-inner {
      height: 575px;
      padding: 0; }
  main .home {
    height: auto; }
    main .home .row {
      height: auto; }
      main .home .row .left .centrar-img {
        height: 300px; }
        main .home .row .left .centrar-img img {
          margin-left: 45px; }
      main .home .row .left .txt {
        top: 0px;
        position: relative;
        height: 200px;
        background-image: none;
        background-color: #fff; }
        main .home .row .left .txt .texto {
          width: 100%;
          height: 100%;
          padding: 45px 75px; }
          main .home .row .left .txt .texto a {
            position: absolute;
            bottom: 45px;
            left: 75px;
            right: inherit; }
      main .home .row .right .centrar-img {
        height: 300px; }
        main .home .row .right .centrar-img img {
          margin-right: 45px; }
      main .home .row .right .txt {
        top: 0px;
        position: relative;
        height: 200px;
        background-image: none;
        background-color: #fff; }
        main .home .row .right .txt .texto {
          width: 100%;
          height: 100%;
          padding: 45px 75px; }
          main .home .row .right .txt .texto a {
            position: absolute;
            bottom: 45px;
            left: 75px;
            right: inherit; }
  main .destacados hr {
    border-top: 1px solid #808080;
    margin: 0 40px;
    visibility: visible; }
  main .destacados h2 {
    font-size: 35px; }
  main .destacados .prod-cont {
    max-width: 710px;
    margin: auto; }
  .footer .iconos .f {
    color: #1778f2; }
  .footer .iconos .t {
    color: #1da1f2; }
  .footer .iconos .i {
    color: #f84279de; } }

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  header .top-negro {
    height: 30px; }
    header .top-negro .tel a {
      font-size: 15px;
      line-height: 30px; }
      header .top-negro .tel a span {
        display: none; }
    header .top-negro .carrito .btn-carro {
      width: 38px;
      height: 30px;
      padding: 4px 8px; }
      header .top-negro .carrito .btn-carro img {
        width: 22px; }
  header .logo {
    height: 140px; }
    header .logo .container {
      height: 140px; }
      header .logo .container a img {
        height: 140px; }
  header .menu {
    height: 40px;
    padding: 0; }
    header .menu .container {
      padding: 0;
      height: 40px; }
      header .menu .container .navbar {
        padding: 0; }
        header .menu .container .navbar .btn-nav {
          padding: 0 0 0 15px; }
        header .menu .container .navbar .menu-desplegable li {
          display: block;
          border-bottom: 1px solid #FFD1E0;
          background-color: #3f3f3f; }
          header .menu .container .navbar .menu-desplegable li a {
            text-align: center;
            line-height: 42px;
            font-size: 15px;
            color: #fff;
            padding: 0;
            margin: 0; }
          header .menu .container .navbar .menu-desplegable li span {
            margin: 0; }
  main .imagenes {
    height: 385px; }
    main .imagenes .carousel-inner {
      height: 385px; }
  main .home .row .left .centrar-img {
    height: 322px; }
  main .home .row .left .txt {
    height: 100px; }
    main .home .row .left .txt .texto {
      width: 100%;
      height: 100%;
      padding: 23px; }
      main .home .row .left .txt .texto h1 {
        font-size: 15px; }
      main .home .row .left .txt .texto p {
        font-size: 12px;
        width: 60%; }
      main .home .row .left .txt .texto a {
        bottom: inherit;
        top: 35px;
        left: inherit;
        right: 35px; }
  main .home .row .right .centrar-img {
    height: 322px; }
  main .home .row .right .txt {
    height: 100px; }
    main .home .row .right .txt .texto {
      width: 100%;
      height: 100%;
      padding: 23px; }
      main .home .row .right .txt .texto h1 {
        font-size: 15px; }
      main .home .row .right .txt .texto p {
        font-size: 12px;
        width: 60%; }
      main .home .row .right .txt .texto a {
        bottom: inherit;
        top: 35px;
        left: inherit;
        right: 35px; }
  main .destacados hr {
    margin: 0 auto;
    visibility: visible; }
  main .destacados h2 {
    font-size: 27px; }
  main .destacados .prod-cont {
    max-width: 480px;
    margin: auto; }
    main .destacados .prod-cont .product {
      padding-bottom: 50px; }
  .footer .informacion {
    flex-direction: column; }
    .footer .informacion .infor {
      margin: 20px 0; }
    .footer .informacion .iconos {
      margin: 20px 0; } }

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  header .top-negro .container {
    height: 30px; }
    header .top-negro .container .tel {
      padding-left: 10px; }
  header .carrito .btn-carro {
    margin-right: 7px; }
  header .logo {
    height: 120px; }
    header .logo .container {
      height: 120px; }
      header .logo .container a img {
        height: 120px; }
  header .menu .container .navbar .menu-desplegable li a {
    line-height: 36px;
    font-size: 13px;
    padding: 0px 15px; }
  main .imagenes {
    height: 280px; }
    main .imagenes .carousel-inner {
      height: 290px; }
  main .home .row .left .centrar-img {
    height: 215px; }
  main .home .row .left .txt .texto {
    padding: 20px; }
    main .home .row .left .txt .texto a {
      width: 100px;
      right: 20px;
      font-size: 14px; }
    main .home .row .left .txt .texto h1 {
      font-size: 14px; }
  main .home .row .right .centrar-img {
    height: 215px; }
  main .home .row .right .txt .texto {
    padding: 20px; }
    main .home .row .right .txt .texto a {
      width: 100px;
      right: 20px;
      font-size: 14px; }
    main .home .row .right .txt .texto h1 {
      font-size: 14px; }
  main .destacados h2 {
    font-size: 18px;
    margin: 25px auto; }
  main .destacados .prod-cont {
    max-width: 320px; } }
