@mixin header {
  width: 100%;
  z-index: 3;
  display: inline-block;
  background: $color-sec;
}

@mixin top {
  background-color: $color-negro;
  height: 40px;
  position: relative;
  z-index: 4;
  padding: 0;
}

@mixin top-a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: $tam-2;
  line-height: 40px;
}

@mixin top-span {
  display: inline-block;
  font-size: $tam-1;
  margin-left: 10px;
  font-weight: 600;
  line-height: 38px;
}

@mixin txt-cont {
  font-size: $tam-1;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

@mixin btn-carro {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 40px;
  text-align: left;
  margin-left: 35px;
  display: block;
  float: right;
  padding: 5px 10px;
  background-color: $color-blanco;
}

@mixin logo {
  background-color: $color-sec;
  z-index: 3;
  width: 100%;
  height: 180px;
  padding: 0;
}

@mixin nav {
  height: 40px;
  z-index: 4;
  background-color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
}

@mixin btn-nav {
  position: relative;
  text-align: left;
  margin: 0;
  font-size: $tam-4;
  height: 35px;
}

@mixin carousel-indic {
  background-color: $color-blanco;
  line-height: 30px;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
  bottom: -30px;
}

@mixin carousel-indic-li {
  background-color: $color-instagram;
  width: 10px;
  height: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

@mixin txt {
  position: absolute;
  padding: 0;
  height: 140px;
  top: 275px;
  left: 0;
  width: 100%;
  background: #ffffff6b;
}

@mixin texto {
  background-color: #fff;
  position: relative;
  float: right;
  width: 310px;
  height: 140px;
  padding: 40px 45px;
}

@mixin texto-h1 {
  font-weight: 700;
  font-size: $tam-2;
  color: #000;
  margin-top: 0;
}

@mixin texto-p {
  font-weight: 300;
  font-size: $tam-1;
  color: #000;
  margin: 0;
  line-height: 1.1;
}

@mixin texto-a {
  text-decoration: none;
  color: #000;
  background-color: $color-pri;
  font-weight: 700;
  width: 140px;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: -40px;
  display: inline-block;
  line-height: 30px;
}

@mixin title-destac {
  font-size: 38px;
  color: #000;
  font-weight: 100;
  text-align: center;
  padding: 10px;
  margin: 30px auto;
}

@mixin h1 {
  font-size: $tam-4;
  color: $color-pri;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin: 1px;
  margin-bottom: 50px;
}

@mixin destac-h3 {
  font-size: $tam-1;
  color: #000;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  margin: 10px 0 0 0;
}

@mixin destac-p {
  font-weight: 400;
  text-align: center;
  font-size: $tam-1;
  color: #000;
  margin: 0;
}

@mixin footer {
  background: $color-negro;
  height: auto;
  min-height: 280px;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

@mixin infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $tam-3;
  text-align: center;
  margin: 30px 0;
}

@mixin iconos {
  display: flex;
  justify-content: center;
  font-size: $tam-3;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

@mixin redes {
  color: #fff;
  padding: 10px;
  margin: 10px;
  transform: rotate(0);
}

@mixin redeshover {
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

@mixin title-copy {
  font-size: 13px;
  color: #fff;
  text-align: center;
}

@mixin hover {
  background-color: hsla(0, 0%, 73%, 0.603);
  position: absolute;
  width: 91%;
  height: 100%;
  top: 0;
  transform: scale(0);
  transition: transform 0.5s;
}

@mixin icon {
  color: $color-sec;
  font-size: $tam-5;
  padding: 5px;
  transform: rotate(0);
}

@mixin iconhover {
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

@mixin boton {
  padding: 5px;
  border: transparent;
  background: $color-pri;
  color: #000;
  width: 20%;
  height: 35px;
  margin: 40px auto 0;
  font-size: $tam-1;
  font-weight: 600;
  border-radius: 150px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

@mixin input {
  font-size: $tam-1;
  font-weight: 600;
  color: #000;
  margin: 0;
  height: 30px;
  border: none;
  outline: 0;
  width: 95%;
  background-color: transparent;
}

@mixin textarea {
  font-weight: 600;
  outline: 0;
  width: 90%;
  height: 180px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #000;
  margin: 0 30px;
}

@mixin p {
  font-size: $tam-1;
  font-weight: 400;
  color: #000;
  text-align: justify;
}

@mixin h6 {
  font-size: $tam-2;
  color: $color-sec;
  text-align: center;
  margin-bottom: 25px;
}

@mixin title-faq {
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  margin: 0;
  font-size: 33px;
  text-align: center;
  padding: 10px 0;
  font-family: 'Roboto Slab', serif;
}