$color-pri: #c50d4a !default;
$color-sec: #fcfcfc;
$bgcolor: #e964435e;
$color-negro: #3f3f3f;
$color-whats:#25d366;
$color-facebook: #1778f2;
$color-twitter:#1da1f2;
$color-instagram:#f84279de;
$color-ubi: #DD4B3E;
