$color-pri: #FFD1E0!default;
$color-sec: #e2e9f1;
$color-logo: hsla(211, 52%, 86%, 0.575);
$color-blanco: #fcfcfc;
$color-negro: #3f3f3f;
$color-whats:#25d366;
$color-facebook: #1778f2;
$color-twitter:#1da1f2;
$color-instagram:hsla(342, 93%, 62%, 0.705);
$color-ubi: #DD4B3E;
$color-hover:hsla(340, 88%, 41%, 0.5);
$color-diferente: #e9c1ce;


