@import "reset";
@import "font";
@import "mixin";
@import "variable";

.container-fluid {
  max-width: 1920px;
}

.container {
  max-width: 992px;
}

#cant {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: #000;
  background-color: $color-pri;
  padding: 0.5rem;
  bottom: -11px;
  border-radius: 999px;
  right: -8px;
}

html {
  display: block;
}

body {
  font-family: $font-family;
  font-size: $tam-1;
}

header {
  @include header();

  .top-negro {
    @include top();

    .tel a {
      .whats {
        color: $color-whats;
        margin-right: 1rem;

        &:hover {
          transition: all 0.2s;
          transform: scale(1.5);
          cursor: pointer;
        }
      }

      @include top-a();

      span {
        @include top-span();
      }
    }

    .text-right {
      .btn-contacto {
        @include txt-right();
      }

      .btn-carro {
        @include btn-carro();

        a {
          text-decoration: none;
          color: $color-pri;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .logo {
    background-color: $color-sec;
    z-index: 3;
    width: 100%;
    height: 100px;

    .container {
      height: 90px;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      margin: auto;

      a {
        display: block;
        margin: auto;

        img {
          height: 95px;
        }
      }
    }
  }

  .navbar {
    @include nav();

    .btn-nav {
      @include nav-icon();

      &:focus {
        border-color: $color-pri;
      }
    }

    .menu-desplegable {
      margin: auto;
      padding-left: 0;
      width: 100%;
      list-style: none;
      display: block;

      & li {
        list-style: none;
        display: inline-block;

        & a {
          text-decoration: none;
          display: inline-block;
          line-height: 40px;
          font-weight: 600;
          font-size: $tam-1;
          color: #000;
          margin: 0 1rem;

          &:hover {
            color: $color-pri;
          }
        }
      }
    }
  }
}
//          HOME
main {
  margin-bottom: 5rem;

  //Carousel
  .imagenes {
    background-color: $color-pri;
    height: 100vh;

    .carousel-inner {
      .carousel-item {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .carousel-indicators {
      @include carousel-indic();

      li {
        @include carousel-indic-li();
      }
    }
  }
  // Home
  .home {
    padding: 0;
    height: 85vh;

    .row {
      margin: 0;
    }

    .left {
      padding: 0;

      .centrar-img {
        position: relative;
        overflow: hidden;
        height: 100vh;

        img {
          position: absolute;
          width: 100%;
        }
      }

      .txt {
        @include txt();

        .texto {
          @include texto();

          h1 {
            @include texto-h1();
          }

          p {
            @include texto-p();
          }

          a {
            @include texto-a();
          }
        }
      }
    }

    .right {
      padding: 0;

      .centrar-img {
        position: relative;
        overflow: hidden;
        height: 100vh;

        img {
          position: absolute;
          width: 100%;
        }
      }

      .txt {
        @include txt();

        .texto {
          @include texto();
          float: left;

          h1 {
            @include texto-h1();
          }

          p {
            @include texto-p();
          }

          a {
            @include texto-a();
            background-color: $color-sec;
          }
        }
      }
    }
  }
}
// Destacados
.destacados {
  padding: 0;

  h2 {
    @include title-destac();
  }

  .prod-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .product {
      width: 100%;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        transition: all 1s linear;
        transform: scale(1.1);
      }

      h3 {
        @include destac-h3();
      }

      p {
        @include destac-p();
      }
    }
  }
}
// Footer
.footer {
  @include footer();

  .informacion {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid $color-pri;

    .infor {
      @include iconos();
      flex-direction: column;

      .whats {
        color: $color-whats;
        padding: 1rem;
        font-size: $tam-3;

        &:hover {
          cursor: pointer;
        }
      }

      .mail {
        color: #fff;
        padding: 1rem;

        &:hover {
          cursor: pointer;
        }
      }

      .dir {
        color: $color-ubi;
        padding: 1rem;

        &:hover {
          cursor: pointer;
        }
      }

      .infor {
        @include infor();
      }
    }
  }

  .iconos {
    @include iconos();
  }

  .f {
    @include redes();

    &:hover {
      @include redeshover();
      color: $color-facebook;
    }
  }

  .t {
    @include redes();

    &:hover {
      @include redeshover();
      color: $color-twitter;
    }
  }

  .i {
    @include redes();

    &:hover {
      @include redeshover();
      color: $color-instagram;
    }
  }

  .copy {
    margin-bottom: 2rem;
    margin-top: 2rem;

    h6 {
      @include title-copy();
    }
  }
}
//          FIN
//          TIENDA
.img-tienda {
  background-color: $color-pri;
  padding: 0;
  height: 85vh;

  .img-top {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.secciones {
  padding: 0;
  background-color: #000;
  text-align: center;
  height: 65px;

  ul {
    display: block;
    position: relative;
    padding: 0 2rem;
    margin: 0 auto;

    li {
      display: inline-block;
      padding: 0 3.5rem;
      margin: 0;

      a {
        cursor: pointer;
        text-decoration: none;
        padding: 2.3rem 0.3rem 1.8rem 0.3rem;
        display: block;
        position: relative;
        color: #fff;
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

.tienda {
  overflow: hidden;

  .articulos {
    /* margin-bottom: 5rem; */
    margin-top: 3rem;

    .foto {
      display: block;
      text-align: center;
      overflow: hidden;
      width: 100%;
      margin: 0;
      position: relative;
      cursor: pointer;
      height: 240px;
      margin-top: 3rem;

      img {
        width: 100%;
        object-fit: cover;
      }

      .hover-foto {
        /*  transition: ease all 200ms; */
        /*  left: 0;
          right: 0;
          margin: auto; */
        background-image: url(multimedia/flecha.png);
        background-repeat: repeat;
        overflow: hidden;
        @include hover-galeria();

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p {
          @include p();
        }
      }
    }
  }
}

/* .imagen-gal:hover .hover-galeria {
        transform: scale(1);
      } */
//          FIN
//          CONTACTO
.informacion {
  margin-bottom: 5rem;

  & h1 {
    @include h1();
  }

  & .info {
    background: #ffd1e0;

    & .items {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      margin-top: 3rem;

      & div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        & .mail {
          @include icon();
          margin-right: 7.5rem;

          &:hover {
            @include iconhover();
            color: $color-sec;
          }
        }

        & .cel {
          @include icon();
          margin-right: 8.5rem;

          &:hover {
            @include iconhover();
            color: $color-negro;
          }
        }

        & .dir {
          @include icon();

          &:hover {
            @include iconhover();
            color: $color-ubi;
          }
        }

        & h6 {
          @include infor();
        }
      }
    }

    & .iconos {
      @include iconos();

      & .f {
        @include redes();

        &:hover {
          @include redeshover();
          color: $color-facebook;
        }
      }

      & .t {
        @include redes();

        &:hover {
          @include redeshover();
          color: $color-twitter;
        }
      }

      & .i {
        @include redes();

        &:hover {
          @include redeshover();
          color: $color-instagram;
        }
      }
    }

    & .mapa {
      padding: 3rem 0 3rem 6rem;
    }
  }

  .formulario {
    background: #ffd1e0;

    & .form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      & h3 {
        @include h3orden();
        margin-bottom: 0;
        margin-top: 2rem;
        color: $color-negro;
      }

      & input {
        @include relleno();

        &:focus {
          border: 1px solid $color-sec;
          border-color: $color-pri;
        }
      }

      & textarea {
        @include textarea();

        &:focus {
          border: 1px solid $color-sec;
          border-color: $color-pri;
        }
      }

      & div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        & input {
          @include boton();
          margin: 2rem;
        }
      }
    }
  }
}

.titulos {
  display: table;

  & .row {
    padding: 90px 60px;
    margin: 10px auto;
  }

  & .pagos {
    display: block;
  }

  & .datos {
    display: block;
  }

  & h5 {
    @include h5();
    text-transform: uppercase;
  }

  & p {
    @include h3orden();
    padding: 0;
    margin: 0;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 20%;
    color: $color-negro;
    overflow: hidden;
    padding: 0;
  }

  & img {
    width: 10%;
  }
}
//          FIN
//          COMO COMPRAR
.comprar {
  margin-bottom: 5rem;

  h1 {
    @include h1();
  }

  h3 {
    @include h3orden();
    font-size: $tam-2;
  }

  .imag {
    width: 90%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .texto {
    display: flex;
    flex-flow: row wrap;

    .icon {
      color: $color-pri;
      width: 10%;

      p {
        font-size: $tam-1;
        text-transform: uppercase;
        text-align: justify;
        margin-bottom: 0 !important;
        font-weight: 400;
        color: $color-negro;
      }
    }
  }
}
//          FIN
//          FAQ
.faq {
  margin-bottom: 5rem;

  & h1 {
    @include h1();
  }

  & .pregyresp h3 {
    @include h3orden();
    text-align: center;
  }
  & p {
    @include p();
  }
}
//
//
//          MEDIA QUERY
/* Dispositivos extra pequeños (teléfonos verticales, menos de 576 px) */
@media screen and (max-width: 479px) {
  header.sticky-top .logo img {
    height: 55px;
  }
  header.sticky-top .logo .container {
    height: 75px;
  }
  .top-negro .tel {
    padding-left: 10px;
  }

  .top-negro .tel a span {
    display: none !important;
  }
  .btn-carro {
    margin-right: 7px;
  }

  header .logo .container {
    height: 120px;
  }
  header .logo img {
    height: 70px;
  }
  .btn-nav {
    padding-left: 15px;
  }
  .menu .menu-desplegable {
    width: 100%;
    margin-left: 0px;
  }
  .menu .menu-desplegable li a {
    line-height: 36px;
    font-size: 13px;
    padding: 0px 15px;
  }
  .menu .menu-desplegable .btn-nav {
    position: relative;
    margin: 0;
  }
}
/* /* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  .top-negro {
    background-color: #000;
    height: 30px;
  }
  .tel a {
    font-size: 15px;
    line-height: 30px;
  }
  .top-negro .tel a span {
    display: none !important;
  }

  .btn-contacto {
    line-height: 30px;
  }
  .btn-carro {
    width: 38px;
    height: 30px;
    padding: 4px 8px;
  }
  .btn-carro img {
    width: 22px;
  }
  header .logo .container {
    height: 140px;
  }
  header .logo img {
    height: 80px;
  }
  .menu {
    height: 40px;
  }
  .menu .menu-desplegable.collapse {
    display: none;
  }
  .menu .menu-desplegable {
    background-color: $color-negro;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .menu .menu-desplegable li {
    display: block;
    margin: 0px;
    width: 100%;
    float: none;
    border-bottom: 1px solid $color-pri;
  }
  .menu .menu-desplegable li a {
    text-align: left;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    padding: 0px 20px;
  }
}
/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  .top-negro {
    position: relative;
  }

  .logo {
    position: relative;
    margin-top: 0px;
  }

  .logo .container {
    height: 160px;
  }

  .menu ul.menu-desplegable li span {
    margin: 0 13px;
  }
}
