@import "reset";
@import "font";
@import "mixin";
@import "variable";

.container-fluid {
  max-width: 1920px;
}

.container {
  max-width: 992px;
}

#cant {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: #000;
  background-color: $color-pri;
  padding: 5px;
  bottom: -11px;
  border-radius: 999px;
  right: -8px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $tam-1;
}

header {
  @include header();

  .top-negro {
    @include top();

    .tel a {
      @include top-a();

      .whats {
        color: $color-whats;
        margin-right: 10px;

        &:hover {
          transition: all 0.2s;
          transform: scale(1.5);
          cursor: pointer;
        }
      }

      span {
        @include top-span();
      }
    }

    .carrito {
      .btn-carro {
        @include btn-carro();

        a {
          text-decoration: none;
          color: $color-pri;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .logo {
    @include logo();

    .container {
      height: 180px;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      margin: auto;
      z-index: 3;

      a {
        display: block;
        margin: auto;

        img {
          height: 180px;
        }
      }
    }
  }

  .navbar {
    @include nav();

    .btn-nav {
      @include btn-nav();

      &:focus {
        border-color: $color-pri;
      }
    }

    .menu-desplegable {
      margin: auto;
      padding-left: 0;
      width: 100%;
      list-style: none;
      display: block;

      & li {
        list-style: none;
        display: inline-block;

        & a {
          text-decoration: none;
          display: inline-block;
          line-height: 40px;
          font-weight: 600;
          font-size: $tam-1;
          color: #000;
          margin: 0 1rem;

          &:hover {
            color: $color-pri;
          }
        }

        span {
          color: $color-negro;
          font-size: $tam-1;
          font-weight: 600;
          line-height: 40px;
          margin: 0 15px;
        }
      }
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  header {
    .logo {
      position: relative;
      margin-top: 0;
      height: 160px;

      .container {
        height: 160px;

        a img {
          height: 150px;
        }
      }
    }

    .menu {
      padding: 0;

      .container {
        padding: 0;

        .navbar {
          padding: 0;

          .menu-desplegable li span {
            margin: 0 13px;
          }
        }
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  header {
    .top-negro {
      height: 30px;

      .tel a {
        font-size: 15px;
        line-height: 30px;

        span {
          display: none;
        }
      }

      .carrito .btn-carro {
        width: 38px;
        height: 30px;
        padding: 4px 8px;

        img {
          width: 22px;
        }
      }
    }

    .logo {
      height: 140px;

      .container {
        height: 140px;

        a img {
          height: 140px;
        }
      }
    }

    .menu {
      height: 40px;
      padding: 0;

      .container {
        padding: 0;
        height: 40px;

        .navbar {
          padding: 0;

          .btn-nav {
            padding: 0 0 0 15px;
          }

          .menu-desplegable {
            li {
              display: block;
              border-bottom: 1px solid $color-pri;
              background-color: $color-negro;

              a {
                text-align: center;
                line-height: 42px;
                font-size: $tam-1;
                color: #fff;
                padding: 0;
                margin: 0;
              }

              span {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  header {
    .top-negro .container {
      height: 30px;

      .tel {
        padding-left: 10px;
      }
    }
    .carrito .btn-carro {
      margin-right: 7px;
    }

    .logo {
      height: 120px;

      .container {
        height: 120px;

        a img {
          height: 120px;
        }
      }
    }

    .menu .container .navbar .menu-desplegable li {
      a {
        line-height: 36px;
        font-size: 13px;
        padding: 0px 15px;
      }
    }
  }
}

//       MAIN  HOME
main {
  margin-bottom: 25px;
  // Carousel
  .imagenes {
    background-color: $color-pri;
    height: 505px;
    padding: 0;

    .carousel-inner {
      width: 100%;
      height: 505px;
      padding: 0 15px;
      max-width: 992px;

      .carousel-item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }

    .carousel-indicators {
      @include carousel-indic();

      li {
        @include carousel-indic-li();
      }
    }
  }
  // Home
  .home {
    padding: 0;
    height: 644px;
    overflow: hidden;

    .row {
      margin: 0;

      .left {
        padding: 0;

        .centrar-img {
          position: relative;
          overflow: hidden;
          height: 644px;
          background-size: cover;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        .txt {
          @include txt();

          .texto {
            @include texto();

            h1 {
              @include texto-h1();
            }

            p {
              @include texto-p();
            }

            a {
              @include texto-a();
            }
          }
        }
      }

      .right {
        padding: 0;

        .centrar-img {
          position: relative;
          overflow: hidden;
          height: 644px;
          background-size: cover;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        .txt {
          @include txt();

          .texto {
            @include texto();
            float: left;

            h1 {
              @include texto-h1();
            }

            p {
              @include texto-p();
            }

            a {
              @include texto-a();
              background-color: $color-sec;
            }
          }
        }
      }
    }
  }

  // Destacados
  .destacados {
    padding: 0;
    margin: 0 !important;

    hr {
      visibility: hidden;
    }

    h2 {
      @include title-destac();
    }

    .prod-cont {
      .product {
        width: 100%;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          transition: all 1s linear;
          transform: scale(1.1);
        }

        h3 {
          @include destac-h3();
        }

        p {
          @include destac-p();
        }
      }
    }
  }
}
/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  main {
    .imagenes {
      height: 575px;
      display: inline-block;
      width: 100%;

      .carousel-inner {
        height: 575px;
        padding: 0;
      }
    }

    .home {
      height: auto;

      .row {
        height: auto;

        .left {
          .centrar-img {
            height: 300px;
          }

          .txt {
            top: 0px;
            position: relative;
            height: 200px;
            background-image: none;
            background-color: #fff;

            .texto {
              width: 100%;
              height: 100%;
              padding: 45px 75px;

              a {
                position: absolute;
                bottom: 45px;
                left: 75px;
                right: inherit;
              }
            }
          }
        }

        .right {
          .centrar-img {
            height: 300px;
          }

          .txt {
            top: 0px;
            position: relative;
            height: 200px;
            background-image: none;
            background-color: #fff;

            .texto {
              width: 100%;
              height: 100%;
              padding: 45px 75px;

              a {
                position: absolute;
                bottom: 45px;
                left: 75px;
                right: inherit;
              }
            }
          }
        }
      }
    }

    .destacados {
      hr {
        border-top: 1px solid #808080;
        padding: 0 40px; // le saque el margin
        visibility: visible;
      }

      h2 {
        font-size: $tam-5;
      }

      .prod-cont {
        max-width: 710px;
        margin: auto;
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  main {
    .imagenes {
      height: 385px;

      .carousel-inner {
        height: 385px;
      }
    }

    .home .row {
      .left {
        .centrar-img {
          height: 322px;
        }

        .txt {
          height: 100px;

          .texto {
            width: 100%;
            height: 100%;
            padding: 23px;

            h1 {
              font-size: 15px;
            }

            p {
              font-size: 12px;
              width: 60%;
            }

            a {
              bottom: inherit;
              top: 35px;
              left: inherit;
              right: 35px;
            }
          }
        }
      }

      .right {
        .centrar-img {
          height: 322px;
        }

        .txt {
          height: 100px;

          .texto {
            width: 100%;
            height: 100%;
            padding: 23px;

            h1 {
              font-size: 15px;
            }

            p {
              font-size: 12px;
              width: 60%;
            }

            a {
              bottom: inherit;
              top: 35px;
              left: inherit;
              right: 35px;
            }
          }
        }
      }
    }

    .destacados {
      hr {
        margin: 0 auto;
        visibility: visible;
      }

      h2 {
        font-size: 27px;
      }

      .prod-cont {
        max-width: 480px;
        margin: auto;

        .product {
          padding-bottom: 50px;
        }
      }
    }
  }
}

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  main {
    .imagenes {
      height: 280px;

      .carousel-inner {
        height: 290px;
      }
    }

    .home .row {
      .left {
        .centrar-img {
          height: 215px;
        }

        .txt .texto {
          padding: 20px;

          a {
            width: 100px;
            right: 20px;
            font-size: 14px;
          }

          h1 {
            font-size: 14px;
          }
        }
      }

      .right {
        .centrar-img {
          height: 215px;
        }

        .txt .texto {
          padding: 20px;

          a {
            width: 100px;
            right: 20px;
            font-size: 14px;
          }

          h1 {
            font-size: 14px;
          }
        }
      }
    }

    .destacados {
      h2 {
        font-size: 18px;
        margin: 25px auto;
      }

      .prod-cont {
        max-width: 320px;
      }
    }
  }
}

// Footer
.footer {
  @include footer();

  .informacion {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;

    .infor {
      @include infor();

      a {
        text-decoration: none;
        color: #fff;
      }

      .whats {
        color: $color-whats;
        padding: 1px;
        font-size: $tam-3;

        &:hover {
          cursor: pointer;
        }
      }

      .mail {
        color: #fff;
        padding: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      .dir {
        color: $color-ubi;
        padding: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      p {
        color: #fff;
        font-size: $tam-1;
        margin: 10px;
      }
    }
  }

  hr {
    margin: 0 60px;
    visibility: visible;
    border-bottom: 1px solid $color-pri;
  }

  .iconos {
    @include iconos();

    .f {
      @include redes();

      &:hover {
        @include redeshover();
        color: $color-facebook;
      }
    }

    .t {
      @include redes();

      &:hover {
        @include redeshover();
        color: $color-twitter;
      }
    }

    .i {
      @include redes();

      &:hover {
        @include redeshover();
        color: $color-instagram;
      }
    }
  }

  .copy {
    margin: 30px 0 10px;
    padding: 0;

    h6 {
      @include title-copy();
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  .footer {
    .iconos {
      .f {
        color: $color-facebook;
      }

      .t {
        color: $color-twitter;
      }

      .i {
        color: $color-instagram;
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  .footer {
    .informacion {
      flex-direction: column;

      .infor {
        margin: 20px 0;
      }

      .iconos {
        margin: 20px 0;
      }
    }
  }
}

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  .footer {
    .copy {
      padding: 0 25px;
    }
  }
}
//
//
//          MAIN  TIENDA
.tienda {
  margin-bottom: 25px;

  .img-tienda {
    background-color: $color-pri;
    padding: 0;
    height: 85vh;

    .img-top {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .secciones {
    padding: 0;
    background-color: $color-negro;
    text-align: center;
    height: 65px;

    .items {
      padding: 0;
      height: 65px;

      .btn-seccion {
        margin: 0;
        position: relative;
        text-align: left;
        padding: 0 1.5rem;
        font-size: 3rem;
        height: 60px;
        color: #fff;
      }

      .desplegable {
        display: block;
        position: relative;
        padding: 0 2rem;
        margin: 0 auto;

        .list {
          list-style: none;
          display: inline-block;
          padding: 0 3.5rem;
          margin: 0;
          background-color: $color-negro;

          a {
            text-decoration: none;
            padding: 0 1rem;
            display: inline-block;
            position: relative;
            color: #fff;
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
            line-height: 40px;

            &:hover {
              color: $color-sec;
            }
          }
        }
      }
    }
  }

  .productos {
    overflow: hidden;
    padding: 0;

    .articulos {
      /* margin-bottom: 5rem; */
      margin-top: 3rem;

      .foto {
        display: block;
        text-align: center;
        overflow: hidden;
        width: 100%;
        margin: 0;
        position: relative;
        cursor: pointer;
        height: 240px;
        margin-top: 3rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .hover {
          @include hover();

          h1 {
            text-transform: uppercase;
            color: #fff;
            font-size: $tam-2;
            font-weight: 400;
            text-align: center;
            margin: 0;
            padding: 8rem 1rem 8rem 1rem;
          }

          p {
            margin: 0;
            text-transform: uppercase;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 700;
            background-color: #000;
            padding: 0.5rem;
            display: inline-block;
          }
        }
      }

      .foto:hover .hover {
        transform: scale(1);
      }
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  .tienda {
    .secciones {
      height: 50px;

      .items {
        height: 50px;

        .desplegable {
          padding: 0;
          margin: 0 auto;

          .list {
            padding: 0 1.5rem;

            a {
              padding: 0 0.5rem;
              font-size: $tam-1;
            }
          }
        }
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  .tienda {
    .secciones {
      .desplegable {
        z-index: 5;

        .list {
          display: block !important;
          border-bottom: 1px solid $color-sec;
        }
      }
    }
  }
}
//
//
//       MAIN  CONTACTO
.contacto {
  margin: 0;

  .informacion {
    background:  /*url(../multimedia/fondo2.png); */ url(https://image.freepik.com/foto-gratis/vista-superior-tarta-chocolate_23-2148019564.jpg);
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 0;

    .info {
      margin: 80px auto 80px 70px;
      height: auto;
      width: 50%;
      padding: 0;

      .formulario {
        background-color: hsla(340, 100%, 91%, 0.199);
        height: 700px;
        padding: 0;
        border-radius: 10px;
        border: 1px solid #fff;
        display: block;

        .form {
          margin: 15px 15px 0;
          padding: 0;
          height: 100%;

          .info-form {
            margin: 15px 0;

            .cambio-form {
              @include input();
              border-bottom: 1px solid #fff;

              &:focus {
                border: 1px solid $color-pri;
              }

              &::placeholder {
                color: #fff;
                font-weight: 600;
              }
            }
          }

          .foot {
            width: 100%;
            margin: 30px 0;

            textarea {
              @include textarea();

              &:focus {
                border: 1px solid $color-pri;
              }

              &::placeholder {
                color: #fff;
                font-weight: 600;
              }
            }
          }

          .seleccion {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;

            h3 {
              font-size: $tam-2;
              color: #fff;
              font-weight: 600;
              text-align: center;
              padding: 5px;
              margin-bottom: 20px;
            }

            div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin: 0 180px;

              label {
                font-size: 18px;
                color: #fff;
                font-weight: 600;
                text-align: center;
              }

              input {
                margin: 7px 0 0 0;
                font-size: $tam-1;
                border-radius: 5px;
                height: 15px;
                border: none;
                outline: 0;
                width: 10%;

                &:focus {
                  color: $color-pri;
                }
              }
            }
          }

          .btn-enviar {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            button {
              @include boton();

              &:hover {
                background: $color-sec;
              }
            }
          }
        }
      }
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media screen and (max-width: 991px) {
  .contacto .informacion {
    .info .formulario .form {
      .foot textarea {
        margin: 0 30px 0 20px;
      }

      .seleccion div {
        margin: 0 60px;
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  .contacto .informacion .info .formulario .form {
    .foot textarea {
      margin: 0 30px 0 15px;
      height: 120px;
    }

    .seleccion {
      h3 {
        font-size: $tam-1;
      }

      div label {
        font-size: $tam-1;
      }
    }

    .btn-enviar button {
      margin: 30px auto 0;
      width: 30%;
    }
  }
}

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  .contacto .informacion .info .formulario .form {
    .info-form .cambio-form {
      font-size: 14px;
    }

    .foot textarea {
      margin: 0;
      width: 100%;
    }

    .seleccion {
      h3 {
        font-size: 14px;
        padding: 0;
      }

      div {
        margin: 0 10px;

        label {
          font-size: 14px;
        }
      }
    }

    .btn-enviar button {
      width: 55%;
      font-size: 14px;
    }
  }
}
//
//
//       MAIN  CORPORATIVO
.corporativo {
  margin: 0;

  .bg-empresas {
    background-image: url(../multimedia/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    padding: 0;

    .contenidos {
      padding-bottom: 25px;

      .bloque-negro {
        margin-top: 200px;
        margin-bottom: 20px;
        padding: 45px 90px;
        background: hsla(0, 0%, 0%, 0.452);

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: #c9f5d1;
          margin-bottom: 25px;
        }

        p {
          color: #fff;
          font-weight: 700;
          font-size: 17px;
          text-transform: uppercase;
        }

        a {
          font-size: 15px;
          margin-top: 30px;
          width: 170px;
          height: 38px;
          text-decoration: none;
          background-color: $color-sec;
          font-weight: 700;
          line-height: 38px;
          text-align: center;
          display: inline-block;
          color: #000;
        }
      }

      .bloque-negroo {
        margin-bottom: 15px;
        padding: 45px 90px;
        background: hsla(0, 0%, 0%, 0.452);

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: $color-pri;
          margin-bottom: 25px;
        }

        p {
          color: #fff;
          font-weight: 700;
          font-size: 17px;
          text-transform: uppercase;
        }

        a {
          font-size: 15px;
          margin-top: 30px;
          width: 170px;
          height: 38px;
          text-decoration: none;
          background-color: $color-pri;
          font-weight: 700;
          line-height: 38px;
          text-align: center;
          display: inline-block;
          color: #000;
        }
      }
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media (max-width: 991px) {
  .corporativo .bg-empresas {
    .contenidos {
      width: 90%;

      .bloque-negro {
        padding: 35px 60px;
        margin-top: 135px;

        h1 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }

        a {
          margin-top: 20px;
          width: 140px;
          height: 30px;
          line-height: 30px;
          font-size: 13px;
        }
      }

      .bloque-negroo {
        padding: 35px 60px;

        h1 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }

        a {
          margin-top: 20px;
          width: 140px;
          height: 30px;
          line-height: 30px;
          font-size: 13px;
        }
      }
    }
  }
}

/* Dispositivos pequeños (teléfonos horizontales, 576 px y más) */
@media screen and (max-width: 767px) {
  .corporativo .bg-empresas .contenidos {
    margin-top: 90px;
    padding-bottom: 0;

    .bloque-negro {
      position: relative;
      margin-bottom: 30px;

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 13px;
      }

      a {
        margin-top: 20px;
        position: absolute;
        bottom: -10px;
      }
    }

    .bloque-negroo {
      position: relative;
      margin-bottom: 60px;

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 13px;
      }

      a {
        margin-top: 20px;
        position: absolute;
        bottom: -10px;
      }
    }
  }
}

/* Dispositivos extra pequeños (teléfonos verticales, menos de 479px) */
@media screen and (max-width: 479px) {
  .corporativo .bg-empresas .contenidos {
    margin-top: 80px;

    .bloque-negro {
      padding: 20px 35px 60px 35px;

      h1 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }

      a {
        margin-top: 20px;
        position: absolute;
        bottom: -10px;
      }
    }

    .bloque-negroo {
      padding: 20px 35px 60px 35px;

      h1 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }

      a {
        margin-top: 20px;
        position: absolute;
        bottom: -10px;
      }
    }
  }
}
//
//
//          MAIN  FAQ
.faq {
  margin-bottom: 25px;

  .titulo {
    background-color: $color-pri;
    padding: 10px 15px;
    margin-bottom: 25px;

    h1 {
      @include title-faq();
    }
  }

  .preg-resp {
    h3 {
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      line-height: 1.5em;
      font-weight: 400;
      margin-bottom: 25px;
      text-align: justify;
    }
  }
}

/*  Dispositivos medianos (tabletas, 768 px y más) */
@media (max-width: 991px) {
  .faq .preg-resp {
    padding: 0 60px;
  }
}
