//       HEADER
@mixin header {
  width: 100%;
  z-index: 3;
  display: inline-block;
  background: $color-sec;
}

@mixin top {
  background-color: $color-negro;
  height: 40px;
  position: relative;
  z-index: 4;
  padding: 0;
}

@mixin top-a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: $tam-2;
  line-height: 40px;
}

@mixin top-span {
  display: inline-block;
  font-size: $tam-1;
  margin-left: 10px;
  font-weight: 600;
  line-height: 38px;
}

@mixin txt-cont {
  font-size: $tam-1;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

@mixin btn-carro {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 40px;
  text-align: left;
  margin-left: 35px;
  display: block;
  float: right;
  padding: 5px 10px;
  background-color: $color-blanco;
}

@mixin logo {
  background-color: $color-sec;
  z-index: 3;
  width: 100%;
  height: 180px;
  padding: 0;
}

@mixin nav {
  height: 40px;
  z-index: 4;
  background-color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
}

@mixin btn-nav {
  position: relative;
  text-align: left;
  margin: 0;
  font-size: $tam-4;
  height: 35px;
}

//       INICIO
@mixin carousel-indic {
  background-color: $color-blanco;
  line-height: 30px;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
  bottom: -30px;
}

@mixin carousel-indic-li {
  background-color: $color-instagram;
  width: 10px;
  height: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

@mixin txt {
  position: absolute;
  padding: 0;
  height: 140px;
  top: 275px;
  left: 0;
  width: 100%;
  background: #ffffff6b;
}

@mixin texto {
  background-color: #fff;
  position: relative;
  float: right;
  width: 310px;
  height: 140px;
  padding: 40px 45px;
}

@mixin texto-h1 {
  font-weight: 700;
  font-size: $tam-2;
  color: #000;
  margin-top: 0;
}

@mixin texto-p {
  font-weight: 300;
  font-size: $tam-1;
  color: #000;
  margin: 0;
  line-height: 1.1;
}

@mixin texto-a {
  text-decoration: none;
  color: #000;
  background-color: $color-pri;
  font-weight: 700;
  width: 140px;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: -40px;
  display: inline-block;
  line-height: 30px;
}

@mixin title-destac {
  font-size: 38px;
  color: #000;
  font-weight: 100;
  text-align: center;
  padding: 40px;
  margin: 0;
}

@mixin h1 {
  font-size: $tam-4;
  color: $color-pri;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin: 1px;
  margin-bottom: 50px;
}

@mixin destac-h3 {
  font-size: $tam-1;
  color: #000;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  margin: 10px 0 0 0;
}

@mixin destac-p {
  font-weight: 400;
  text-align: center;
  font-size: $tam-1;
  color: #000;
  margin: 0;
}

@mixin footer {
  background: $color-negro;
  height: auto;
  min-height: 280px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

@mixin informacion {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px auto;
}

@mixin infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $tam-3;
  text-align: center;
  margin: 30px 0;
}

@mixin pedido {
  margin: 30px 0;
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /* border: 3px solid #c9f5d1;
  margin: 80px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 80px;
  text-align: center; */
}

@mixin pedido-h2 {
  font-family: "Roboto Slab", serif;
  font-size: $tam-1;
  color: #fff;
  margin: 5px 0 10px 0;
  line-height: 1.2em;
}

@mixin pedido-a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $tam-3;
  text-align: center;
  margin: 30px 0;
}

@mixin iconos {
  display: flex;
  justify-content: center;
  font-size: $tam-3;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

@mixin redes {
  color: #fff;
  padding: 10px;
  margin: 10px;
  transform: rotate(0);
}

@mixin redeshover {
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

@mixin title-copy {
  font-size: 13px;
  color: #fff;
  text-align: center;
}

@mixin hover {
  background-color: hsla(0, 0%, 73%, 0.603);
  position: absolute;
  width: 91%;
  height: 100%;
  top: 0;
  transform: scale(0);
  transition: transform 0.5s;
}

@mixin icon {
  color: $color-sec;
  font-size: $tam-5;
  padding: 5px;
  transform: rotate(0);
}

@mixin iconhover {
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

@mixin p {
  font-size: $tam-1;
  font-weight: 400;
  color: #000;
  text-align: justify;
}

@mixin h6 {
  font-size: $tam-2;
  color: $color-sec;
  text-align: center;
  margin-bottom: 25px;
}

//       WANDA
@mixin img-wan {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

@mixin frase {
  position: absolute;
  left: 220px;
  top: 70px;
  width: 35%;
}

@mixin frase-p {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  color: #000;
  line-height: 1.2em;
}

@mixin title-wanda {
  font-weight: normal;
  font-size: $tam-3;
  margin: 0;
  line-height: 1.2em;
  font-family: "Roboto Slab", serif;
}

@mixin img-text {
  height: 100%;
  width: 100%;
  padding: 0 auto;
}

@mixin text-hist-p {
  font-weight: 400;
  font-style: italic;
  font-size: $tam-1;
  text-align: justify;
}

@mixin barra-rosa {
  position: absolute;
  background-color: hsla(340, 100%, 91%, 0.548);
  width: 60%;
  height: 115px;
  bottom: 0;
  padding: 40px;
  margin: auto;
  right: 0;
  top: 75px;
}

@mixin barra-h3 {
  margin: 0;
  line-height: 1.5;
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  font-family: "Roboto Slab", serif;
}
//       TIENDA
@mixin img-tienda {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

@mixin secciones {
  padding: 0;
  background-color: $color-negro;
  text-align: center;
  height: 65px;
}

@mixin btn-seccion {
  margin: 0;
  position: relative;
  text-align: left;
  padding: 0 1.5rem;
  font-size: 3rem;
  height: 60px;
  color: #fff;
}

@mixin desplegable {
  display: block;
  position: relative;
  padding: 0 2rem;
  margin: 0 auto;
}

@mixin list-desp {
  list-style: none;
  display: inline-block;
  padding: 0 3.5rem;
  margin: 0;
  background-color: $color-negro;
}

@mixin list-desp-a {
  text-decoration: none;
  padding: 0 1rem;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
}

@mixin art-foto {
  display: block;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0;
  position: relative;
  cursor: pointer;
  height: 240px;
  margin-top: 3rem;
}

@mixin art-foto-h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: $tam-2;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 8rem 1rem 8rem 1rem;
}

@mixin art-foto-p {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #000;
  padding: 0.5rem;
  display: inline-block;
}

//       CONTACTO
@mixin contacto {
  background: url(../imgs/fondocontact.jpg) no-repeat center center fixed;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

@mixin info {
  margin: 80px auto 80px 70px;
  height: auto;
  width: 50%;
  padding: 0;
}

@mixin formulario {
  background-color: hsla(340, 100%, 91%, 0.199);
  height: 738px;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #fff;
  display: block;
}

@mixin input {
  font-size: $tam-1;
  font-weight: 600;
  color: #000;
  margin: 0;
  height: 30px;
  border: none;
  outline: 0;
  width: 95%;
  background-color: transparent;
}

@mixin textarea {
  font-weight: 600;
  outline: 0;
  width: 90%;
  height: 180px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #000;
  margin: 0 30px;
}

@mixin boton {
  padding: 5px;
  border: transparent;
  background: $color-pri;
  color: #fff;
  width: 20%;
  height: 35px;
  margin: 40px auto 0;
  font-size: $tam-1;
  font-weight: 600;
  border-radius: 150px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

//       CORPORATIVO
@mixin corporativo {
  background: url(https://images.pexels.com/photos/3256807/pexels-photo-3256807.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200)
    no-repeat center center fixed;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

@mixin bloque-negro {
  margin-top: 200px;
  margin-bottom: 20px;
  padding: 45px 90px;
  background: hsla(0, 0%, 0%, 0.452);
}

@mixin bloque-negro-h1 {
  font-weight: 500;
  font-size: 24px;
  color: #c9f5d1;
  margin-bottom: 25px;
}

@mixin bloque-negro-p {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

@mixin bloque-negro-a {
  font-size: 15px;
  margin-top: 30px;
  width: 170px;
  height: 38px;
  text-decoration: none;
  background-color: $color-sec;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  color: #000;
}

//       FAQ
@mixin title-faq {
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  margin: 0;
  font-size: 33px;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto Slab", serif;
}
